<div class="container">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card" style="width: 15rem">
        <div class="card-body">
          <h2 class="card-title">User Number</h2>
          <hr />
          <p class="card-text">{{ userList.length }}</p>
        </div>
      </div>
    </div>

    <br />
    <div class="col-md-4 mt-5">
      <div class="card" style="width: 15rem">
        <div class="card-body">
          <h2 class="card-title">Post Number</h2>
          <hr />
          <p class="card-text">{{ postList.length }}</p>
        </div>
      </div>
    </div>
    <br />
    <div class="col-md-4 mt-5">
      <div class="card" style="width: 16rem">
        <div class="card-body">
          <h2 class="card-title">Visitor Number</h2>
          <hr />
          <p class="card-text">{{ visitorList.length  }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
