<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-3 mt-3">
      <form [formGroup]="visitorForm" (ngSubmit)="save()">
        <div class="form-group">
          <label for="exampleInputPassword1">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Name" formControlName="name">
          <div class="form-text text-danger">
            <div *ngIf="isInvalid('name')">
              <div *ngIf="isInvalidControl('name', 'required')">
                ziyaretçi isim alanı girilmesi gereklidir.
              </div>

              <div *ngIf="
                  isInvalidControl('name', 'minlength') ||
                  isInvalidControl('name', 'maxlength')
                ">
                ziyaretçi isim alanı en az 5 karakter girilmesi gereklidir.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">E-Mail</label>
          <input type="text" class="form-control" name="email" placeholder="E-Mail" formControlName="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Content</label>
          <input type="text" class="form-control" name="content" placeholder="Content" formControlName="content">
          <div class="form-text text-danger">
            <div *ngIf="isInvalid('content')">
              <div *ngIf="isInvalidControl('content', 'required')">
                yazı alanı gereklidir.
              </div>

              <div *ngIf="
                  isInvalidControl('content', 'minlength') ||
                  isInvalidControl('content', 'maxlength')
                ">
                yazı alanı en az 50 karakter girilmelidir gereklidir.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Birth-Date</label>
          <input type="date" class="form-control" name="birthDate" placeholder="Birth-Date"
            formControlName="birthDate">
          <div class="form-text text-danger">
            <div *ngIf="isInvalid('birthDate')">
              <div *ngIf="isInvalidControl('birthDate', 'required')">
                doğum tarihi alanı girilmesi gereklidir.
              </div>
              <div *ngIf="isInvalidControl('birthDate', 'birthdateFormat')">
                doğum tarihi 16 yaşından küçük olmamalıdır.
              </div>
            </div>
          </div>
        </div>
        <label>Publish Date Expire: </label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="publishDateExpire" id="exampleRadios1" value="1"
            formControlName="publishDateExpire" checked>
          <label class="form-check-label" for="exampleRadios1">
            1 Month
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="publishDateExpire" id="exampleRadios2" value="3" checked
            formControlName="publishDateExpire">
          <label class="form-check-label" for="exampleRadios2">
            3 Month
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="publishDateExpire" id="exampleRadios3" value="6"
            formControlName="publishDateExpire">
          <label class="form-check-label" for="exampleRadios3">
            6 Month
          </label>
        </div>
        <div class="form-group">
          <label for="inputState">Content Type</label>
          <select id="inputState" class="form-control" name="contentType" formControlName="contentType">
            <option value="" selected>Choose...</option>
            <option value="Review">Review</option>
            <option value="Suggestion">Suggestion</option>
          </select>
          <div class="form-text text-danger">
            <div *ngIf="isInvalid('contentType')">
              <div *ngIf="isInvalidControl('contentType', 'required')">
                lütfen yazı nedeninizi belirtiniz.
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Content</th>
            <th scope="col">Birth-Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let visitor of visitorService.filterConfirm()">
            <td>{{visitor?.name}}</td>
            <td>{{visitor?.email}}</td>
            <td>{{visitor?.content}}</td>
            <td>{{visitor?.birthDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>