<div class="container">

    <div class="row mt-3">
        <div class="col-md-3">

            <div class="list-group">
                <a routerLinkActive="active" routerLink="/home" class="list-group-item list-group-item-action"
                    aria-current="true">
                    Visitors
                </a>
                <a routerLinkActive="active" routerLink="/admin/admin-home"
                    class="list-group-item list-group-item-action">Home</a>
                <a routerLinkActive="active" routerLink="/admin/admin-post-page"
                    class="list-group-item list-group-item-action">Post Page</a>
                <a routerLinkActive="active" routerLink="/admin/admin-user-page"
                    class="list-group-item list-group-item-action">User Page</a>
                <a routerLinkActive="active" routerLink="/admin/admin-visitor-page"
                    class="list-group-item list-group-item-action">Visitor-Page</a>

            </div>

        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer></app-footer>

</div>
