<div class="container">

    <div class="row mt-3">
        <div class="col-md-3">

            <div class="list-group">
                <a routerLinkActive="active" routerLink="/admin/Admin-Home" class="list-group-item list-group-item-action"
                    aria-current="true">
                    Admin
                </a>
                <a routerLinkActive="active" routerLink="/order/home"
                    class="list-group-item list-group-item-action">Home</a>
                <a routerLinkActive="active" routerLink="/order/create-order"
                    class="list-group-item list-group-item-action">Create Order</a>
                <a routerLinkActive="active" routerLink="/order/update-order"
                    class="list-group-item list-group-item-action">Update Order</a>

            </div>

        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>

        </div>
    </div>

</div>