<p>structural-directive works!</p>
<h2>NG If</h2>
<!-- 
good way -->
<button (click)="toggle()">Aç/Kapa</button>

<!-- bad way -->
<button (click)="toggleShow = !toggleShow">Aç/Kapa</button>

<div *ngIf="toggleShow">
    Aç/Kapa İçerik
</div>
<h2>NG For</h2>
<button (click)="addProduct()"> Ekle</button>
<ul>
    <li *ngFor="let p of productList">
        {{p.id}} {{p.name}} {{p.price}}
        <button (click)="removeProduct(p.id)">sil</button>
    </li>
</ul>

<h2>NG Switch</h2>
<div [ngSwitch]="messageCount">

    <p *ngSwitchCase="1">değer 1</p>
    <p *ngSwitchCase="2">değer 2</p>
    <p *ngSwitchCase="3">değer 3</p>
    <p *ngSwitchDefault> default değer</p>


</div>

<h2>NG Class</h2>
<button (click)="addClass()">Class Ekle</button>
<div [ngClass]="{'box':boxCss,'box2':box2Css}">
    NG Class
</div>

<div [ngClass]="'box box2 box3'">
    NG Class
</div>

<div [ngClass]="{'box box2 box3':true}">
    NG Class
</div>
<h2>Ng Style</h2>
<div [ngStyle]="{'background-color':'red','width':'100px', 'height':'200px'}"></div>
<ul [ngStyle]="{'background-color':productList.length>5 ? 'green' :'blue'}">
    <li *ngFor="let p of productList">
        {{p.id}} {{p.name}} {{p.price}}
        <button (click)="removeProduct(p.id)">sil</button>
    </li>
</ul>


