<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
 
  <p>
    <label for="name">Name </label>
    <input type="text" id="name" name="name" formControlName="name">
  </p>
 
  <p>
    <label for="price">Price</label>
    <input type="text" id="price" name="price" formControlName="price">
  </p>
 
  <p>
    <label for="category">Category </label>
    <select id="category" name="category" formControlName="category">
      <option value="">Seçiniz.</option>
      <option value="1">Elektronik</option>
      <option value="2">PC</option>
      <option value="3">Laptop</option>
    </select>
  </p>
 
  <p>
    <label for="isTrue">??? </label>
    <input type="checkbox" id="isTrue" name="isTrue" formControlName="isTrue">
  </p>

  <p>
    <button type="submit">Submit</button>
  </p>
  <table>
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>isTrue</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of productList">
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.category}}</td>
            <td>{{p.isTrue}}</td>
        </tr>
    </tbody>
</table>
</form>

<router-outlet></router-outlet>